# Logs
*.log

# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
.venv/
venv/

# Environment variables
.env
.env.*

# ML artifacts
mlruns/
mlflow.db
mlflow_data/

# Data
data/raw/
data/processed/
*.csv
*.pkl

# OS files
.DS_Store
Thumbs.db

# Docker
*.tar

# IDE
.vscode/
.idea/
